<!DOCTYPE html>
<html>
  <head>
    <title>Omniaccess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice].present? %><p class="notice"><strong>Notice: </strong><%= flash[:notice] %></p><% end %>
    <% if flash[:alert].present? %><p class="alert"><strong>Alert!: </strong><%= flash[:alert] %></p><% end %>

    <%= yield %>
  </body>
</html>
